<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conn"
            connectionString= "Data Source=DESKTOP-MT3C507\SQLEXPRESS;Initial Catalog=HT_QLBH_BALO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>